---
import logoSvg from '../../assets/branding/devify-sq-logo.svg';
---

<footer class="site-footer">
  <div class="container">
    <img src={logoSvg.src} alt="Devify" class="footer-logo" />
    <p class="footer-text">Built by Devify.me &mdash; Turning visionary ideas into reality.</p>
    <ul class="footer-links">
      <li><a href="/getting-started/installation/">Docs</a></li>
      <li><a href="https://github.com/devify-me/devify">GitHub</a></li>
    </ul>
  </div>
</footer>
